.banner-container {
  height: 95%;
  display: flex;
  overflow-x: hidden;
  position: relative;
}

.home-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.image-container {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  object-fit: cover;
  /* box-shadow: 0 0 8px 2px #24d4d0; */
  transition: transform 10s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

/* .image-container img:hover {
  transform: rotate(360deg);
 
} */

.title {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.title h5 {
  font-size: 16px;
  color: #476868;
  font-weight: 200;
}

.title h1 {
  color: white;
  font-size: 5vw;
  font-weight: 300;
}

.icon-container {
  font-size: 25px;
  color: whitesmoke;
  display: flex;
  /* justify-content: center; */
  gap: 25px;
  align-items: center;
  border: 1px solid whitesmoke;
  border-radius: 30px;
  padding: 15px 30px;
  width: fit-content;
}
.btn-container button {
  width: 300px;
  padding: 20px;
  border-radius: 30px;
  background-color: var(--main-color);
  color: rgb(207, 207, 207);
  font-size: 16px;
  font-weight: 600;
  border: none;
  /* box-shadow: 0 0 4px 1px #24d4d0; */
  cursor: pointer;
  transition: all ease 0.3s;
  margin-top: 20px;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-container button:hover {
  /* box-shadow: 0 0 8px 2px #24d4d0; */
  background-color: var(--main-color-hover);
}

@media (max-width: 1100px) {
  .image-container img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 900px) {
  /* .banner-container {
    flex-direction: column-reverse;
    justify-content: space-around;
  }

  .title {
    width: 100%;
    height: 50%;
    padding-left: 20px;
    max-width: 600px;
  } */

  .image-container img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 550px) {
  .banner-container {
    flex-direction: column-reverse;
    justify-content: space-around;
  }


  .title {
    width: 100%;
    height: 50%;
    padding-left: 20px;
    max-width: 600px;
    margin-top: 50px;
  }

  .title h1 {
    font-size: 40px;
  }

  .title button {
    top: 53%;
    width: 200px;
  }
  .image-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.233);
    height: 35%;
  }
  .image-container img {
    width: 100%;
    border-radius: 0%;
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.361);
    height: auto;
  }
}
