/* .banner-container {
 
  width: 100%;

  background: none;
  height: 100vh;
  position: relative;
 
  overflow-x: hidden;
}

.title {
 
  background-color: #002642;
  color: whitesmoke;
  width: 50%;
  height: 200px;
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 40px 20px 0;
  border-radius: 0 100px 100px 0;
  position: absolute;
  top: 100px;
  transition: all 0.5s ease;
 
  box-shadow: 0 0 3px 6px rgba(43, 40, 40, 0.123);
}



.download.visible {
  opacity: 1;
  visibility: visible;
}
.download {

  transition: opacity 0.3s ease, visibility 0.3s ease;
  width: 150px;
  position: absolute;
  top: 320px;
  left: 37%;
  background-color: #e15634;
  color: whitesmoke;
  border-radius: 25px;
  padding: 15px 10px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 3px 6px rgba(43, 40, 40, 0.123);
  transition: all 0.3s ease-in-out;
}

.download-eng {

  transition: opacity 0.3s ease, visibility 0.3s ease;
  width: 150px;
  position: absolute;
  top: 320px;
  left: 23%;
  background-color: #e15634;
  color: whitesmoke;
  border-radius: 25px;
  padding: 15px 10px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 3px 6px rgba(43, 40, 40, 0.123);
  transition: all 0.3s ease-in-out;
}

.download:hover {
  background-color: #eff1f3;
  color: #002642;
}

.download-eng:hover {
  background-color: #eff1f3;
  color: #002642;
}


.icon-container {
  width: fit-content;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon {
  font-size: 50px;
  color: #e15634;
  position: relative;

  border-radius: 50%;
  box-shadow: 0 0 3px 6px rgba(43, 40, 40, 0.123);
  animation: salto 0.8s infinite;
}

@keyframes salto {
  0%,
  100% {
    top: 0;
  }
  30% {
    top: -25px;
  }
}

@media (max-width: 1150px) {

  .banner-container {
    height: 90vh;
  }

  .title {
    top: 10%;

  }

  .download {
    top: 280px;
    left:35%;
  }

  .download-eng {
    top: 280px;
    left: 16%;
  }
}

@media (max-width: 850px) {
  .banner-container {
    height: 100vh;
  }

  .title {
    height: 160px;
    top: 10%;
    width: 80%;
  }

  .download {
    top: 250px;
    left:48%;
    width: 120px;
  }

  .download-eng {
    top: 250px;
    left:25%;
    width: 120px;
  }
}

@media (max-width: 560px) {
  .banner-container {
    height: 100vh;
  }

  .title {
    height: 130px;
    top: 10%;
    width: 95%;
  }

  .download {
    top: 240px;
  }

  .download-eng {
    top: 240px;
    left: 12%;
  }

}

@media (max-width: 430px) {
  .title h1 {
    font-size: 22px;
  }

  .title h2 {
    font-size: 16px;
  }


} */

.banner-container {
  height: 100%;
  display: flex;
}

.image-container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  box-shadow: 0 0 8px 2px #24d4d0;
  transition: transform 10s ease, box-shadow .3s ease;
  cursor: pointer;
}

.image-container img:hover {
  transform: rotate(360deg);
  box-shadow: 0 0 15px 5px #24d4d0;

}

.title {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.title h5 {
  font-size: 16px;
  color: #24d4d0;
  font-weight: 200;
}

.title h1 {
  color: white;
  font-size: 58px;
  font-weight: 300;
}

.title button {
  width: 300px;
  padding: 20px;
  border-radius: 30px;
  background-color: #014e45;
  color: rgb(207, 207, 207);
  font-size: 16px;
  font-weight: 600;
  border: none;
  box-shadow: 0 0 4px 1px #24d4d0;
  cursor: pointer;
  transition: all ease 0.3s;
}

.title button:hover {
  box-shadow: 0 0 8px 2px #24d4d0;
  background-color: #137d7b;
}
