.footer-container {
    width: 100%;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.324);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 50px;
    color: rgba(219, 219, 219, 0.372);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

}

.icono {
    cursor: pointer;
    transition: all ease .3s;
}

.icono:hover {
color: #189795;
}