.modal-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.304);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.modal-container {
background-color: white;
width: 200px;
height: 200px;
border-radius: 20px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
position: relative;
padding-top: 50px;
box-shadow: 0 0 8px 2px #58cb90;
}

.icono {
    position: absolute;
    top: -35px;
    left: 65px;
    font-size: 70px;
    background-color: white;
    border-radius: 50%;
    color: #139f9d;
    box-shadow: 0 0 8px 2px #58cb90;
}

.modal-container h2 {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.699);
}

.modal-container button {
    background: #1db968;
    border: none;
    padding: 6px 8px;
    border-radius: 15px;
    width: 120px;
    color: white;
    font-weight: 600;
    box-shadow: 0 1px 2px 0px rgba(113, 108, 108, 0.598);
    cursor: pointer;
    transition: all .3s ease;
}

.modal-container button:hover {
    background-color: #29dc80;
}