/* .nav-container {
    position: absolute;
    top: 30%;
    right: -300px;
    transition: all ease 0.8s;
    z-index: 5;
}

.nav-container nav{
    width: 350px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px 0 20px 0;
    background-color: #E15634;
    border-radius: 15px 0 0 15px;
   
    box-shadow: 0 0 3px 6px rgba(43, 40, 40, 0.123);
    z-index: 5;
}

.nav-container nav a{
    padding: 20px 0 20px 50px;
    display: flex;
    align-items: center;
    width: 100%;

    font-size: 20px;
    color: whitesmoke;
    transition: all ease 0.3s;
    position: relative;
}

.nav-container nav a:hover {
    background-color: aliceblue;
    color: #002642;
}

.active {
    right: 0;
}

.icon-container {
    z-index: 1;
    width: 50px;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.3s;
}

.icono-left {
    color: #454B66;
    font-size: 55px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.icono-left:hover {
    color: whitesmoke;
}

.visible {
    display: none;
}

.icono-right {
    color: #454B66;
    font-size: 55px;
    cursor: pointer;
    transition: color ease 0.4s;
    position: absolute;
    top: 120px;
    right: 30px;
    z-index: 3;
 
}

.icono-right:hover {
    color: whitesmoke;
}

@media (max-width: 1150px) {
    .nav-container {
        top: 47%;
    }
}

@media (max-width: 850px) {
.nav-container {
    top: 46%;
}
  }

@media (max-width: 560px) {

} */

.nav-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  z-index: 30;
}

.right-nav-container {
  display: flex;

}

.nav-container nav {
  display: flex;
  gap: 30px;
  font-size: 16px;
  color: whitesmoke;
  margin-right: 50px;
}

.nav-container nav a {
  color: rgb(146, 143, 143);
  transition: all 0.3s ease;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-container nav a:hover {
  color: #24d4d0;
}

.logo-container {
  width: 100px;
  overflow-x: hidden;
}

.logo {
  color: rgba(245, 245, 245, 0.582);
  transition: color ease 0.3s;
  cursor: pointer;
  animation: moveText 5s linear infinite; /* Agregamos una animación llamada moveText */
}

.logo:hover {
  color: #24d4d0;
}

.language-btn-container {
  display: flex;
  align-items: center;
  gap: 15px;
}



.language-btn {
  color: rgba(101, 94, 94, 0.58);
  cursor: pointer;
}

.selected {
  color: white;
}

@keyframes moveText {
  0% {
    transform: translateX(100%); /* Comienza desde la derecha */
  }
  100% {
    transform: translateX(-240%); /* Se mueve hacia la izquierda */
  }
}

@keyframes openNav {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (min-width: 901px) {
  .hamburger-container {
    display: none;
  }
}

@media (max-width: 900px) {
  .nav-container {
    padding: 0 0 0 20px;
  }

  .language-btn-container {
    padding-right: 30px;
  }
  
  .logo {
    padding-left: 20px; /* Ajusta el valor de padding izquierdo según tus necesidades */
  }
  .nav-container nav {
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    gap: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.769);
    z-index: 10;
    padding-top: 100px;
    transition: ease 0.5s all;
    animation: openNav 0.5s linear;
  }

  .nav-link {
    text-align: center;
    width: 100%;
    color: white;
    font-size: 25px;
    border-bottom: solid 0.5px rgba(169, 165, 165, 0.646);
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .nav-container nav a:hover {
    background-color: rgba(255, 255, 255, 0.224);
  }

  .hamburger-container {
    visibility: visible;
  }
}
