.projects-container {
  
  height: fit-content;
  margin-bottom: 50px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-title {
  width: 500px;

  text-align: center;
  padding: 5px 0;
  color: #eff1f3;
  margin-bottom: 60px;
  border-radius: 10px;
  
  font-size: 70px;
}

.project-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 30px;
  gap: 20px;
  padding-bottom: 80px;
}

.project {
  width: 100%;

  padding: 15px;
  box-shadow: 2px 2px 3px 4px rgba(27, 25, 25, 0.171);
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: rgba(49, 48, 48, 0.425);
  border: 1px solid rgba(49, 48, 48, 0.425);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 5px;
}

.project:hover {
  border: solid 1px rgba(110, 107, 107, 0.466);
  background-color: rgba(6, 6, 6, 0.792);
}

.project-img-container {
  height: 70%;
}

.project-img-container img {
 
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.project-text-container {
  width: 100%;
  height: 130px;
  background-color: rgba(70, 68, 68, 0.251);
  border-radius: 10px;
  padding: 15px;
  color: whitesmoke;
  
}

/* VIEW */

.view-container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  max-height: 100vh;
}

.image-container {
  width: 65%;
  max-height: 55vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.image-container img {
  
  height: 55vh;
  box-shadow: 0 0 15px 5px rgba(150, 144, 144, 0.66);
}

.btn-image-up,
.btn-image-down {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Ajuste aquí */
  cursor: pointer;
  font-size: 60px;
  border-radius: 50%;
  transition: all ease 0.3s;
  color: rgba(245, 245, 245, 0.865);
  filter: drop-shadow(0 0 10px rgb(32, 30, 30));
}

.btn-image-up {
  right: 0%;
}

.btn-image-down {
  left: 0%;
}

.btn-image-up:hover,
.btn-image-down:hover {
  color: white;
  scale: 110%;
}

.text-container {
  height: 100px;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  color: whitesmoke;
  margin-top: 20px;
}

.text-container h4 {
  font-size: 18px;
  margin-bottom: 5px;
  color: whitesmoke;
}

.text-container button {
  width: fit-content;
  padding: 5px 15px;
  margin-top: 20px;
  cursor: pointer;
  transition: all ease 0.3s;
  color: whitesmoke;
  background-color: #078d7d6b;
  box-shadow: 0 0 5px 2px #0aa997;
  border-radius: 20px;
  border: none;
}

.text-container button:hover {
  background-color: #0aa997;
  color: whitesmoke;
}

.text-container p {
  line-height: 18px;
  margin-bottom: 5px;
  font-size: 14px;
  text-align: justify;
}

.page-link {
  color: rgba(63, 136, 197, 1);
  font-weight: 600;
  cursor: pointer;
}

.page-link:hover {
  color: rgba(63, 137, 197, 0.612);
}

@media (max-width: 1100px) {
  .projects-title {
    width: 100%;
  }
  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .project {
    margin-left: 5px;
    margin-right: 5px;
  }

  .image-container {
    width: 80%;
  }

  .text-container {
    width: 80%;
  }
}

@media (max-width: 900px) {
  .project-container {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    padding: 0 10px;
  }

  .project {
    max-width: 700px;
  }

  .image-container img {
    height: auto;
    width: 95%;
    box-shadow: 0 0 15px 5px rgba(150, 144, 144, 0.66);
  }
}

@media (max-width: 550px) {
  .projects-title {
    font-size: 50px;
  }

  .image-container {
    width: 95%;
  }

  .image-container img {
    width: auto;
    height: 20vh;
  }

  .text-container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }


}
